* {
  padding: 0;
  margin: 5px;
  text-align: center;
}
body {
  background-image:url("img1.jpg");
  background-position: center;
  background-size: cover;
}
.button1{
  color: white;
  background-color:#39A2DB;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}
.button2{
  color: white;
  background-color: #053742;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}
.button3{
  color: white;
  background-color: #39A2DB;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}
.calculator {
  width: 300px;
  height: 400px;
  bottom: 400px;
  margin-right: 500px;
  margin-left: 600px;
  background-color:#FB9300;
  box-shadow: 5px 5px 5px 10px #black;
  border: 5px solid black;
  border-radius: 10px;
}
#display {
  width: 320px;
  height: 40px;
  text-align: right;
  background-color: white;
  border: 5px solid black;
  font-size: 18px;
  left: 2px;
  top: 2px;
  color: #000080;
}
